1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
<br> 'hello;
<br> -87.8
<br> -
<br> /
<br> +
<br> 6

**Answer**:  <br>
\*  &nbsp; Expression( mathematical operator) <br>
'hello'  &nbsp;  value (String) <br>
-87.8  &nbsp; value (Float) <br>
\-  &nbsp; Expression( mathematical operator) <br>
\/  &nbsp; Expression( mathematical operator) <br>
\+  &nbsp; Expression( mathematical operator) <br>
6  &nbsp; value (Integer)

2. What is the difference between string and variable?

**Answer**: <br>
- String : String is a value which represent text. And in python string value always need to enclosed with "" or '' . Example : `st = "Bangladesh"` ;where "Bangladesh is String"

- Variable : Variable is a name which refer to any value. For example, `a = 10` ; a refer value 10 or `a = "I am Fahim"` ;where variable a refer value "I am Fahim".

3. Describe three different data types.

**Answer**: <br>
- Interger : Integer is the one type of datatype which represents some range of mathematical integers. And it also allow negative values. Integer range from  $(2^{31} - 1)$ to $- (2^{31} - 1)$. Example: -10
- Float : Float is the one type of datatype which allow fraction value of  deciaml format. For example: 5.5
- Boolean : Boolean is the one type of datatype which just allow Two possible value (True or False) or (0 or 1). For example in python programming language = `boolean = (1 == 1)` where actually `boolean = True`

4. What is an expression made up of? What do all expressions do?

**Answer**: An expression is a combination of values, variables, operators, and calls to functions. All expressions actually evaluates to a value.

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

**Answer** : Expression always evaluate to a value , statements don't. <br>
Valuable assignment is statements because it do not return a value. For that reason, `spam = 10` is a statement.

6. After running the following code, what does the variable bacon contain?
<br>bacon = 22
<br>bacon + 1

**Answer** : variable bacon will contain 22. Because `bacon + 1` is statement not an expression.

7. What should the values of the following two terms be?
<br> 'spam' + 'spamspam'
<br> 'spam' * 3

**Answer** : <br>
- 'spam' + 'spamspam'  # Output : 'spamspamspam'
- 'spam'*3 # Output : 'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

**Answer** : For creating variable in the programming languages there are some rules. Like: 
- A variable name must start with a letter or the underscore character.
- A variable name cannot start with a number.
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)

For that reason, is I consider variable name like `100 = 10` then will show error because variable name start with number. But if I consider variable name `eggs = 10` that perfectly fine.

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

**Answer**:  `int()`, `float()`, and `str()` functions.

10. Why does this expression cause an error? How can you fix it?<br>
&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

**Answer**: For concate the multiple strings we can use `+` operator in the expression. For example, `str = "asif" + "iqbal" + "fahim"` then it become :  `str = "asifiqbalfahim"`.<br>
But the quesion expression, it try to concate string with interger value. Because `99` is interger value. Which is not possible. If we need to concate this interger value with string, then we need to use `str()` function to convert it into string formet. So that the correct expression is : <br>
'I have eaten ' + str(99) + ' burritos.'